.para64 {
  margin:  0.1181in 0px 0.0398in 0px;
  text-align: center;
}

.para61 {
  line-height: 130.0000%;
  margin:  0.0000in 0px 0.0835in 0px;
  text-align: center;
}

.para59 {
  margin:  0.0000in 0px 0.1571in 0px;
  text-align: center;
}

.para58 {
  margin:  0.6874in 0px 0.0000in 0px;
  text-align: center;
}

.para52 {
  background-color: #f3e5ab;
  margin:  1.1783in 0px 0.0783in 0px;
}

.para51 {
  background-color: #fbe9e7;
  margin:  1.1783in 0px 0.0783in 0px;
}

.para65 {
  margin:  0.0000in 0px 0.1181in 0px;
  text-align: center;
}

.para50 {
  background-color: #fff3e0;
  margin:  1.1783in 0px 0.0783in 0px;
}

.para49 {
  background-color: #fff8e1;
  margin:  1.1783in 0px 0.0783in 0px;
}

.para62 {
  margin:  0.1665in 0px 0.0000in 0px;
  text-align: center;
}

.para48 {
  background-color: #fffde7;
  margin:  1.1783in 0px 0.0783in 0px;
}

.para47 {
  background-color: #f1f8e9;
  margin:  1.1783in 0px 0.0783in 0px;
}

.para8 {
  background-color: #e8eaf6;
  margin:  0px 0px 0px 0px;
}

.para43 {
  background-color: #e3f2fd;
  margin:  1.1783in 0px 0.0783in 0px;
}

.para42 {
  background-color: #e8eaf6;
  margin:  1.1783in 0px 0.0783in 0px;
}

.para40 {
  line-height: 0.2500in;
  margin:  0.0000in 0px 0.0000in 0px;
}

.para63 {
  margin:  0.0000in 0px 0.0783in 0px;
  text-align: justify;
}

.para39 {
  margin:  0.0000in 0px 0.0980in 0px;
  text-align: justify;
}

.para44 {
  background-color: #e1f5fe;
  margin:  1.1783in 0px 0.0783in 0px;
}

.para7 {
  background-color: #f3e5f5;
  margin:  0px 0px 0px 0px;
}

.para38 {
  margin:  0.0000in 0px 0.0591in 0px;
  text-align: center;
}

.para37 {
  margin:  0px 0px 0px 0px;
  text-align: center;
}

.para35 {
  margin:  0.0000in 0px 0.0398in 0px;
}

.para57 {
  line-height: 125.0000%;
  margin:  0.1181in 0px 0.1571in 0px;
  text-align: center;
}

.para33 {
  border-bottom: 0.74pt solid #c9c2a8;
  border-left: none;
  border-right: none;
  border-top: none;
  margin:  0.0000in 0px 0.0000in 0px;
}

.para32 {
  line-height: 167.0000%;
  margin:  0.0000in 0px 0.0000in 0px;
}

.para4 {
  margin:  1.1783in 0px 0.0783in 0px;
}

.para31 {
  margin:  1.5717in 0px 0.0783in 0px;
  text-align: left;
}

.para29 {
  margin:  0.1390in 0px 0.0280in 0px;
  text-align: center;
}

.para28 {
  margin:  0.0000in 0px 0.1374in 0px;
  text-align: justify;
}

.para34 {
  margin:  0.0000in 0px 0.1634in 0px;
}

.para60 {
  margin:  0.1390in 0px 0.1110in 0px;
  text-align: center;
}

.para26 {
  margin:  0.0000in 0px 0.0591in 0px;
}

.para54 {
  background-color: #d7ccc8;
  margin:  1.1783in 0px 0.0783in 0px;
}

.para25 {
  background-color: #fce4ec;
  margin:  1.1783in 0px 0.0783in 0px;
}

.para20 {
  background-color: #d7ccc8;
  margin:  0px 0px 0px 0px;
}

.para27 {
  margin:  0px 0px 0px 0px;
  text-align: justify;
}

.para24 {
  line-height: 125.0000%;
  margin:  0.0000in 0px 0.1571in 0px;
  text-align: justify;
}

.para11 {
  background-color: #e0f2f1;
  margin:  0px 0px 0px 0px;
}

.para22 {
  margin:  0.0000in 0px 0.1571in 0px;
  text-align: justify;
}

.para19 {
  background-color: #e6ee9c;
  margin:  0px 0px 0px 0px;
}

.para0 {
  margin:  0.2945in 0px 0.1181in 0px;
  text-align: center;
}

.para36 {
  margin:  0.0000in 0px 0.0783in 0px;
  text-align: center;
}

.para3 {
  margin:  0.0000in 0px 0.5500in 0px;
  text-align: center;
}

.para21 {
  background-color: #cfd8dc;
  margin:  0px 0px 0px 0px;
}

.para56 {
  margin:  0.1181in 0px 0.0591in 0px;
}

.para55 {
  background-color: #cfd8dc;
  margin:  1.1783in 0px 0.0783in 0px;
}

.para17 {
  background-color: #fbe9e7;
  margin:  0px 0px 0px 0px;
}

.para15 {
  background-color: #fff8e1;
  margin:  0px 0px 0px 0px;
}

.para9 {
  background-color: #e3f2fd;
  margin:  0px 0px 0px 0px;
}

.para14 {
  background-color: #fffde7;
  margin:  0px 0px 0px 0px;
}

.para13 {
  background-color: #f1f8e9;
  margin:  0px 0px 0px 0px;
}

.para41 {
  background-color: #f3e5f5;
  margin:  1.1783in 0px 0.0783in 0px;
}

.para12 {
  background-color: #e8f5e9;
  margin:  0px 0px 0px 0px;
}

.para30 {
  margin:  0.0555in 0px 0.1390in 0px;
  text-align: center;
}

.para10 {
  background-color: #e1f5fe;
  margin:  0px 0px 0px 0px;
}

.para16 {
  background-color: #fff3e0;
  margin:  0px 0px 0px 0px;
}

.para46 {
  background-color: #e8f5e9;
  margin:  1.1783in 0px 0.0783in 0px;
}

.para23 {
  line-height: 125.0000%;
  margin:  1.1783in 0px 0.1571in 0px;
  text-align: justify;
}

.para2 {
  margin:  0.0000in 0px 0.0980in 0px;
  text-align: center;
}

.para6 {
  background-color: #fce4ec;
  margin:  0px 0px 0px 0px;
}

.para5 {
  margin:  0px 0px 0px 0px;
}

.para18 {
  background-color: #f3e5ab;
  margin:  0px 0px 0px 0px;
}

.para53 {
  background-color: #e6ee9c;
  margin:  1.1783in 0px 0.0783in 0px;
}

.para45 {
  background-color: #e0f2f1;
  margin:  1.1783in 0px 0.0783in 0px;
}

.para1 {
  margin:  1.1783in 0px 0.0398in 0px;
  text-align: center;
}

.span37 {
  color: #141414;
  font-size: 9.0000pt;
  font-weight: bold;
  letter-spacing: normal;
}

.span36 {
  color: #9a8f6a;
  font-size: 12.5000pt;
  font-style: normal;
  font-weight: bold;
}

.span35 {
  color: #2b2722;
  font-size: 10.5000pt;
  font-style: normal;
  font-weight: normal;
}

.span34 {
  color: #9a8f6a;
  font-size: 15.0000pt;
  font-style: normal;
  font-weight: bold;
}

.span33 {
  color: #273649;
  font-size: 11.5000pt;
  font-weight: bold;
  letter-spacing: normal;
}

.span32 {
  color: #646464;
  font-size: 11.5000pt;
  letter-spacing: normal;
}

.span30 {
  font-size: 11.5000pt;
  font-style: italic;
  letter-spacing: normal;
}

.span29 {
  font-size: 11.5000pt;
  font-weight: bold;
  letter-spacing: normal;
}

.span27 {
  color: #9a8f6a;
  font-size: 11.5000pt;
  font-style: italic;
  font-weight: bold;
  letter-spacing: normal;
}

.span28 {
  font-size: 11.5000pt;
  letter-spacing: normal;
}

.span25 {
  color: #c9bf9a;
  font-size: 11.0000pt;
  text-decoration:  underline;
}

.span24 {
  color: #584826;
  font-size: 11.5000pt;
  font-style: italic;
  letter-spacing: normal;
}

.span23 {
  color: #775b24;
  font-size: 11.5000pt;
  font-weight: bold;
  letter-spacing: normal;
}

.span11 {
  color: #9a8f6a;
  font-size: 11.5000pt;
  font-weight: bold;
  letter-spacing: normal;
}

.span22 {
  color: #573a18;
  font-size: 11.5000pt;
  font-style: italic;
  font-weight: bold;
  letter-spacing: normal;
}

.span26 {
  font-size: 11.5000pt;
}

.span18 {
  color: #473626;
  font-size: 10.5000pt;
  font-weight: bold;
  letter-spacing: normal;
}

.span17 {
  color: #141414;
  font-size: 10.5000pt;
  font-style: italic;
  letter-spacing: normal;
}

.span31 {
  color: #9a8f6a;
  font-size: 12.0000pt;
  font-style: italic;
}

.span4 {
  color: #141414;
  font-size: 11.5000pt;
  letter-spacing: normal;
}

.span15 {
  color: #141414;
  font-size: 10.5000pt;
  font-weight: bold;
  letter-spacing: normal;
}

.span10 {
  color: #1a1a1a;
  font-size: 12.0000pt;
  font-weight: bold;
  letter-spacing: normal;
}

.span21 {
  color: #646464;
  font-size: 10.0000pt;
  letter-spacing: normal;
}

.span20 {
  color: #343434;
  font-size: 11.5000pt;
  font-style: italic;
  letter-spacing: normal;
}

.span8 {
  font-size: 11.5000pt;
  font-style: italic;
}

.span7 {
  color: #141414;
  font-size: 11.5000pt;
  font-weight: bold;
  letter-spacing: normal;
}

.span6 {
  color: #141414;
  font-size: 11.5000pt;
  font-style: italic;
  letter-spacing: normal;
}

.span5 {
  color: #434343;
  font-size: 11.5000pt;
  font-style: italic;
  letter-spacing: normal;
}

.span16 {
  color: #141414;
  font-size: 10.5000pt;
  letter-spacing: normal;
}

.span13 {
  color: #be0004;
  font-size: 11.5000pt;
  font-style: italic;
  letter-spacing: normal;
}

.span12 {
  color: #6f675c;
  font-size: 10.5000pt;
  font-style: italic;
}

.span1 {
  color: #434343;
  font-size: 13.0000pt;
  font-style: italic;
  letter-spacing: normal;
}

.span14 {
  color: #473626;
  font-size: 11.5000pt;
  font-weight: bold;
  letter-spacing: normal;
}

.span3 {
  color: #141414;
  font-size: 17.0000pt;
  font-weight: bold;
  letter-spacing: normal;
}

.span19 {
  color: #2a412c;
  font-size: 11.5000pt;
  font-weight: bold;
  letter-spacing: normal;
}

.span9 {
  color: #273649;
  font-size: 11.5000pt;
  font-style: italic;
  letter-spacing: normal;
}

.span2 {
  color: #141414;
  font-size: 12.0000pt;
  letter-spacing: normal;
}

.span0 {
  color: #141414;
  font-size: 25.5000pt;
  font-weight: bold;
  letter-spacing: normal;
}

.body0 {
  -epub-writing-mode: horizontal-tb;
  -webkit-writing-mode: horizontal-tb;
  direction: ltr;
  writing-mode: horizontal-tb;
}

.cellTable1 {
  border: none;
  vertical-align: top;
}

.cellTable0 {
  border: none;
  vertical-align: top;
  width: 1.48386in;
}

.rowTable0 {
}

.table0 {
  width: 2.9681in;
}

.frame6 {
  border: none;
  width: 3.1492in;
}

.frame4 {
  border: none;
  width: 3.1008in;
}

.frame8 {
  border: none;
  width: 0.9839in;
}

.frame7 {
  border: none;
  width: 1.4957in;
}

.frame2 {
  border: none;
  width: 4.1339in;
}

.frame5 {
  border: none;
  width: 2.5992in;
}

.frame1 {
  border: none;
  width: 4.2520in;
}

.frame3 {
  border: none;
  width: 3.8508in;
}

.frame0 {
  border: none;
  width: 1.6535in;
}
